.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
}

.title_text {
    font-size: 30px;
}

.title_text_red {
    color: red;
}

.title_text_white {
    color: white;
}


@media (max-width: 450px) {
    .title_text {
        font-size: 20px;
    }
}